<div class="container my-5">
    <app-new-comp></app-new-comp>
    
    <h3>Router</h3>
    <li><a routerLink="/halamanlain" >Halaman lain</a></li>

    <p class="mt-5">{{ global_title }}</p>
    <p><small>{{ global_desc }}</small></p>
    <h3>Data Binding</h3>
    <form>
        <select class="form-control">
            <option *ngFor="let month of global_months">{{ month }}</option>
        </select>
    </form>

    <h3 class="mt-4">Kondisi (If)</h3>
    <ng-container *ngIf="global_is_available; else elseTemplate">
        <div class="alert alert-info mt-3">
            Yey! kamu berhasil
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="alert alert-danger mt-3">
            Aduh! gagal deh
        </div>
    </ng-template>

    <h3 class="mt-4">Event Binding</h3>
    <div class="btn-group">
        <button (click)="setTrue()" class="btn btn-success">True</button>
        <button (click)="setFalse()" class="btn btn-danger">False</button>
    </div>

    <h3 class="mt-4">HTTP Client</h3>
    <h3>GET</h3>
    <button (click)="getData()" class="btn btn-success">Get Data</button>
    <p *ngIf="global_loading">Loading...</p>
    <div *ngIf="data" class="table table-striped mt-3">
        <div style="height: 500px; overflow-y: scroll;">
            <table>
                <tr *ngFor="let item of data; let i = index">
                    <td valign="top"><img src="{{ item.foto }}" width="150" class="mt-2"><br/>{{ item.nama }}<br/><b>#{{ i+1 }}</b></td>
                    <td valign="top"><small>{{ item.deskripsi }}</small></td>
                </tr>
            </table>    
        </div>
    </div>

    <h3 class="mt-5">POST</h3>
    <form class="form-inline" #cariForm="ngForm" (ngSubmit)="postData(cariForm.value)">
        <div class="input-group mb-3">
            <input type="text" name="nama" class="form-control" placeholder="Nama Hewan" ngModel>
            <button class="btn btn-secondary" type="submit">Cari</button>
        </div>
    </form>
    <p *ngIf="global_loading">Loading...</p>
</div>